.players{
    flex: 9;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
  }

  .card {
      cursor: pointer;
      width: 20%;
      background: #fff;
      border: 1px solid #ccc;
      margin-bottom: 50px;
      transition: 0.3s;
    }
    img{
      width: 100%;
    }
    
    .card-header {
      text-align: center;
      padding: 10px 10px;
      background: #000;
      color: #fff;
    }
    
    .card-body {
      padding: 30px 20px;
      text-align: center;
      font-size: 18px;
    }
    
    .card:hover {
      transform: scale(1.05);
      box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
    }
    
    @media screen and (max-width: 1000px) {
      .card {
        width: 40%;
      }
    }
    
    @media screen and (max-width: 620px) {
      .container {
        width: 100%;
      }
    
      .heading {
        padding: 20px;
        font-size: 20px;
      }
    
      .card {
        width: 80%;
      }
    }